body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orangered;
}
nav a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: large;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

main h3 a {
    color: green;
    font-size: larger;
}

main h1 {
    color: green;
}

footer{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    margin-top: auto;
}

a{
    text-decoration: none;
}

tr:nth-child(even){
    background-color: lightgrey;
}
